{% extends 'base.html' %}

{% block title%}
	Admissions
{% endblock%}

{% block content %}

	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<br>
		<div class="container">
			<h2 class="text-center">Eligibility</h2>
			<br>
			<ul>
				<li>He/She should secure at least C+ in SEE.</li>
				<li>He/She should pass Entrance Examination under supervision of SNSBS.</li>
			</ul>

			<br>
			<h4>Entrance Test</h4>
			<br>
			<ul>
				<li>For Science Stream, Entrance Test will be based on Mathematics, English & Science subjects.</li>
				<li>For Management Stream, Entrance Test will be based on Mathematics, English, Computer and G.K.</li>
				<li>Entrance Test will be taken in multiple choice system.</li>
				<li>The candidates must appear and pass Entrance Test conducted by the institution.</li>
			</ul>

			<br>
			<h4>Entrance Result</h4>
			<br>
			<ul>
				<li>The Entrance result of the successful candidates for admission will be published on the basis of SLC score & Entrance score.</li>
				<li>The candidates must face interview along with parents at the time of admission.</li>
			</ul>
			
				<!-- course item -->



				<br><br>

			<h2 class="text-center">Scholarship Provisions</h2>
			<br>
			<h7>Saraswati Niketan provides significant number of scholarship to academically sound and financially needy students under several titles. Deserving students may obtain details of scholarship schemes from the Saraswati Niketan administration.</h7>
			<br><br><br>
			<h4>Scholarship Schemes</h4><br>
			<ol>
				<h7><strong>1. Grade XI</strong></h7>
					<br><br>
					<ul>
						<li> 3.8 above in SEE- 100% discount in admission & 100% discount in monthly fee</li>
						<li> 3.6-3.8 in SEE- 50% discount in admission & 25% discount in monthly fee</li>
						<li> 3.2-3.6 -25% discount in admission fee</li>
						<li> Entrance topper - 1st :3 months fee – 2nd: 2 months fee – 3rd 1 month fee</li>
						<li> Term Topper -Running term tuition fee.</li>
						<li> First come first serve in admission in XI (10 student)- 25% admission free.</li>
						<li> A wide range of scholarship to deserving & needy students under the categories of:
							<br>
							-Financially poor(Must be convincing)<br>-Remote area<br>-Martyrs’ Family<br>-Disables<br>-Under privileged group
						</li>

					</ul>
					<br>


				<h7><strong>2. Grade XII</strong></h7>
				<br><br>
				<ul>
					<li>National topper in XI-100% discount in admission & 100% discount in monthly fee</li>
					<li>Class XI topper in school-100% discount in admission & 100% discount in monthly fee</li>
				</ul>
			</ol>
			
			
			
		</div>






			
		
	</section>
	<!-- Courses section end-->

	<!-- Newsletter section end -->	


{% endblock%}