{% extends 'base.html' %}

{% block title%}
	Facilities
{% endblock%}

{% block content %}

	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<br>
		<div class="container">
			<h2 class="text-center">Facilities</h2>
			<br>
			

			<br>
			<h4>Extra Curricular Activities</h4>
			<br>
			<ul>
				<li>Sports Programme</li>
				<li>Welcome/Farewell Programme</li>
				<li>Picnic/Tour Programme</li>
				<li>Field/Excursion of All Faculties</li>
			</ul>

			<br>
			<h4>Library</h4>
			<br>
			<ul>
				<li>Library is equipped with necessary text books and innovative references
       books to sharpen & flourish knowledge of students.</li>
			</ul>



			<br>
			<h4>Computer Facilities</h4>
			<br>
			<ul>
				<li>SNSBS has a modern computer laboratory with fast internet
       service which is accessible for all students.</li>
			</ul>
			


			<br>
			<h4>Transportation Facilities</h4>
			<br>
			<ul>
				<li>Transportation facilities will be provided on the concerning areas
       appropriate and affordable bus fare.</li>
			</ul>



			<br>
			<h4>Hostel Facilities</h4>
			<br>
			<ul>
				<li>Managed by academic team</li>
				<li>Peaceful Environment</li>
				<li>Hygienic Food Items</li>
				<li>Sophisticated Interior</li>
				<li>Refresh Programme</li>
				<li>Affordable Fees</li>
				<li>24 hrs. Electricity</li>
				<li>Laundry Facilities</li>
				<li>Regular Supervisions from Teachers</li>

			</ul>
			
			
				<!-- course item -->



				<br><br>

			
			
			
		</div>






			
		
	</section>
	<!-- Courses section end-->

	<!-- Newsletter section end -->	


{% endblock%}