{% extends 'base.html' %}

{% block title%}
	Events
{% endblock%}

{% block content %}

	<!-- Courses section -->
	<section class="full-courses-section spad pt-0">
		<br>
		<div class="container">
			<h2 class="text-center">ALL EVENTS</h2><br>
			<div class="row">
				<!-- course item -->
			{% for event in all_events%}
				
				<div class="col-md-6 event-item">
					<a href="{% url 'single_event' event.id %}">
					<div class="event-thumb">
						
						<img src='{{ event.event_thumbnail.url}}' alt="{{ event.event_thumbnail.url}}" width="200px" height="200px">
						<div class="event-date">
							<span>{{event.event_date}}</span>
						</div>
					</div>
					</a>
					<div class="event-info">
						<h4>{{event.event_title}}</h4>
						
						<p><i class="fa fa-calendar-o"></i> {{event.event_time}} <i class="fa fa-map-marker"></i> {{event.event_location}}</p>
						<!-- <a href="" class="event-readmore">REGISTER <i class="fa fa-angle-double-right"></i></a> -->

					</div>
				</div>
				
				{% endfor %}
			</div>
		</div>
			<!-- <div class="text-center">
				<ul class="site-pageination">
					<li><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
				</ul>
			</div> -->
			<div class="text-center">
			{% if all_events.has_other_pages %}
  			<ul class="site-pageination">
			    {% if all_events.has_previous %}
			      <li><a href="?page={{ all_events.previous_page_number }}">&laquo;</a></li>
			    {% else %}
			      <li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
			    {% for i in all_events.paginator.page_range %}
			      {% if all_events.number == i %}
			        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			      {% else %}
			        <li><a href="?page={{ i }}">{{ i }}</a></li>
			      {% endif %}
			    {% endfor %}
			    {% if all_events.has_next %}
			      <li><a href="?page={{ all_events.next_page_number }}">&raquo;</a></li>
			    {% else %}
			      <li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			  </ul>
			{% endif %}
		</div>
		
	</section>
	<!-- Courses section end-->

	<!-- Newsletter section end -->	


{% endblock%}